@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --btn-primary: rgba(0, 0, 0, 0.05);
  --btn-hover: rgba(0, 0, 0, 0.1);
  --btn-select: #000;
  --guide-normal: 15rem;
  --guide-small: 72px;
  --backdrop: rgba(0, 0, 0, 0.5);
  --tooltip: rgba(0, 0, 0, 0.2);
  --scrollthumb: hsl(0,0%,67%);
  --scrollthumb-light: hsl(0,0%,77%);
}

.icon {
  @apply pointer-events-none block w-full h-full
}


body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--base-background-color);
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--scrollthumb);
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-scrollthumb;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-scrollthumb-light;
}